/* =================================
  Flexbox
==================================== */

nav {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	flex-wrap: wrap;

}


@media (min-width: 800px) {
		nav ul{
			flex-direction: row;
			/* justify-content: center; */
			width: 100%;

		}
}

@media (min-width:800px) {
	.item-1 {
		margin-right: auto;


		}
}

.navme {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
}



@media (min-width: 800px) {
	.navme {
		flex-direction: row;
		justify-content: space-between;
	}

	.profilepic {
		margin-right: 0px;
	}

	#container {
		width: 70%;
		margin: 0 auto;
	}
}

/* article {
    margin: 0;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr 1fr;
    grid-auto-rows: minmax(150px, auto);
	} */
